@{
    ViewData["Title"] = "Карточка Пациента";
}
<tr>
    <td><a asp-action="Specialization">Посмотреть специализации докторов</a></td>
    <br />
    <td><a asp-action="Doctors">Просмотреть докторов</a></td>
    <br>
    <td><a asp-action="Patients">Просмотреть пациентов</a></td>
</tr>
